name: DevSecOps-Pipeline

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # 1. Vulnerability Scanning (Mandatory Skill)
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/python@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      # 2. Python Scripting (Mandatory Skill)
      - name: Run Unit Tests
        run: |
          python3 -m compileall .
          echo "Automating Everything - Smoke Tests Passed"

      # 3. AWS Deployment (ECS)
      - name: Deploy to AWS ECS
        run: |
          echo "Deploying to AWS ECS via CLI..."
          # Yaha actual AWS commands aayengi